<style>/*Set the CSS*/
body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;     
  text-align: center;     
  width: auto;          
  height: auto;         
  padding: 2px;
 font-weight: bold;  
  font: 12px sans-serif;    
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;   
}
</style>